.letrascard {
  font-family: "Alice in Wonderland";
  font-size: x-large;
  color: aliceblue; }

@font-face {
  font-family: "Alice in Wonderland";
  src: url("../fonts/Alice in Wonderland.ttf") format("truetype"); }

nav {
  background-color: black;
  font-family: "Alice in Wonderland" !important;
  font-size: x-large; }
  nav .container-fluid .logo {
    font-size: xx-large !important; }
  nav .collapse .navbar-nav .nav-item .nav-link {
    color: aliceblue; }
    nav .collapse .navbar-nav .nav-item .nav-link:hover {
      color: coral; }

.fondo {
  background-color: black; }

.letrasseparador {
  font-family: "Alice in Wonderland";
  color: aliceblue; }

.imgContacto {
  width: 50%; }

.tribal {
  width: 100%;
  padding-top: 10px; }

.iconosf {
  color: aliceblue; }
  .iconosf:hover {
    color: coral;
    animation: shakeY;
    animation-duration: 2s; }
