@mixin estiloBody{
    background-color: black;

}

@mixin iconos {
    color: aliceblue;
        &:hover{
            color: coral;
            animation: shakeY;
            animation-duration: 2s;
        }
}