$f-nav: black;
$hover-nav: coral;
$l-logo: xx-large;
$l-color-nav: aliceblue;
$l-nav: x-large;
$l-family-nav: "Alice in Wonderland";


$l-family-body: "Alice in Wonderland";
$l-color-body: aliceblue;

$l-card: "Alice in Wonderland";

